*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(45deg, blue, red);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  background: transparent;
  backdrop-filter: blur(40px);
  border: 0.1px solid #eee;
  position: relative;
  z-index: 100;
}
.container::before{
  content: " ";
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(45deg, blue, red);
  top: -115px;
  right: -115px;
  border-radius: 50%;
  z-index: -100;
  opacity: 0.1;
  animation: move-before 1s infinite ease alternate-reverse;
}
@keyframes move-before {
  to{
    top: -120px;
    right: -120px;
    opacity: 0.5;
  }
}
.container::after{
  content: " ";
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(45deg, blue, red);
  bottom: -120px;
  left: -120px;
  border-radius: 10px;
  z-index: -100;
  opacity: 0.1;
  /* transition: 3s; */
  animation: move-after 1s infinite ease alternate-reverse ;
}

@keyframes move-after {
  to{
    bottom: -115px;
    left: -115px;
    opacity: 0.5;
  }
}

.container span {
  font-weight: bold;
  font-size: 2em;
  color: white;
  position: relative;
}
span::before{
  position: absolute;
  bottom: -22px;
  right: 50%;
  font-weight: bold;
  font-size: 27px;
  transform: translateX(50%);
}
#hour::before{
  content: "Hour";
}
#munet::before{
  content: "miuntes";
}
#sec::before{
  content: "sec";
}
